/* UNIVERSAL -------------------------------------- */
* {
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background-image: url(./assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
  margin: 0px;
}

/* PLAYERS ---------------------------------------- */

h1 {
  height: 10%;
  font-size: 50px;
  text-align: center;
  margin: 0px;
}

header {
  height: 20%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.enemy {
  background-color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.icon {
  height: 15vh;
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.player-info {
  padding-right: 15px;
  padding-left: 15px;
}

/* MAIN - GAME MODE ------------------------------- */

.game-mode {
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.difficulty-choice {
  height: 70%;
  width: 30%;
  border-radius: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.difficulty-choice:hover {
  background-color: #F9E6FF;
  transform: scale(1.15);
}

/* MAIN - SELECTION ------------------------------- */

.selection {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choices {
  background-color: white;
  height: 90%;
  width: 80%;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.champion-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.champion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.champion:hover {
  transform: scale(1.15);
}

.extreme {
  height: 20vh;
  width: auto;
}

/* MAIN - BATTLE ---------------------------------- */

.battle {
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.battle-ground {
  height: 50vh;
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-champion,
.enemy-champion {
  height: 32vh;
  width: 32vw;
  background-image: url(./assets/pigeon-L.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.enemy-champion {
  transform: scaleX(-1);
}

/* FOOTER ----------------------------------------- */

h2 {
  margin: 0;
}

footer {
  height: 10%;
}

button {
  border: 0px;
  padding: 10px 10px 10px 25px;
  font-size: 18px;
  background-color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button:hover {
  background-color: #F9E6FF;
  transform: scale(1.15);
}

.hidden {
	display: none;
}
